/*This is the color and padding for the navbar, the text align will align the navbar links to the center*/
.navbar {
    background-color: rgb(37,37,37);
    margin: 0;
    padding: 30px 10px;
    text-align: center;
  }

    /*This will edit the links on the navbar visually*/
.navbar a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    margin-left:50px ;
    margin-right:40px;
    text-decoration: none;
    font-size: 20px;
    line-height: 5px;
  }

  head {

    margin: 0em;
    padding: 0;
  }

   /*This removes the issue that I was having with the gap between the navbar and webpage*/
   body {
    margin: 0em;
    margin-top: 0em;
    padding: 0;
  }


  /*This changes the position of the headers for the paragraphs on this page, create a class for this later.*/
  h2 {
    margin: 4em;
    margin-top: 1em;
    margin-bottom: 0em;
  }
 

  body {
    background-color: rgba(156, 164, 182, 0.712);
}

main{
  width: 90vw;
  margin:0, auto;
  padding:30px,20px;
  min-height: calc(100vh - 100px);
}

/*This styles the footer*/
.footer {
  margin-top: auto;
  background-color: rgb(37,37,37);
  padding:2em 0;
  height:10em; 
  
}

/*This modifies the text on the footer*/
.containercontent {
  color:white;
}