/*This is the color and padding for the navbar, the text align will align the navbar links to the center*/
.navbar {
    background-color: rgb(161, 100, 56);
    margin: 0;
    padding: 30px 10px;
    text-align: center;
  }

    /*This will edit the links on the navbar visually*/
.navbar a {
    color: black;
    text-align: center;
    padding: 5px;
    margin-left:50px ;
    margin-right:40px;
    text-decoration: none;
    font-size: 20px;
    line-height: 5px;
  }

  .basiclinks {
    display:flex;
    align-items: center;
    padding-right:700px;
    text-wrap: nowrap;
  }

   /*This removes the issue that I was having with the gap between the navbar and webpage*/
   body {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgba(187, 170, 115, 0.329);
}