
/*This is the color and padding for the navbar, the text align will align the navbar links to the center*/
.navbar {
  background-color: rgb(37, 37, 37);
  margin: 0;
  padding: 30px 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}

/*This will edit the links on the navbar visually*/
.basiclinks a {
  color: rgb(255, 255, 255);
  padding: 5px;
  margin-left:50px ;
  margin-right:40px;
  padding-left: 50px ;
  text-decoration: none;
  font-size: 20px;
  
}

.basiclinks {
  display:flex;
  align-items: center;
  padding-right:700px;
  text-wrap: nowrap;
}


/*This removes the issue that I was having with the gap between the navbar and webpage*/
body {
  margin: 0;
  padding: 0;
}

/*This creates the dropdown button*/
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/*This changes the dropdown button's color on hover*/
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/*For positioning the dropdown content*/
.dropdown {
  position: relative;
  display: inline-block;
}

/*For editing the dropdown menu*/
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*edits the links inside the dropdown*/
.dropdown-content a {
  color: black;
  padding: 14px 14px;
  text-decoration: none;
  display: block;
}

/*Changes the color of dropdown links on hover*/
.dropdown-content a:hover {background-color: #ddd;}

/*Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button)*/
.show {display:block;}


/*This styles the footer*/
.footer {
    margin-top: auto;
    background-color: rgb(37, 37,37);
    padding:2em 0;
    height:10em; 
    
  }